.bg-img-mobile{
    background-image: url('../Home/carasoul/image_8.jpeg');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}
