.home{   
    background-image: url('/public/images/shop_online_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}
 .welcome-note{
    position: absolute;
    top:270px;
    right:30px;
    color: white;
   text-shadow: 2px 2px rgb(66, 66, 66);
}
