.bg-img-carasoul-1{
    width: 100%;
    height: 500px;
    background-image: url('./carasoul/image_1.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.carasoulFlex1{
    height: 600px;
    display: flex;
    margin-top: 150px;
    justify-content:flex-start;
    padding-left: 50px;
}
.CarasoulFlex1-Item{
    border-color: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 55px;
    width: 500px;
    height: 250px;
    background-color: white;
    color: navy;
    font-size: 20px;
}
.bg-img-carasoul-2{
    width: 100%;
    height: 500px;
    background-image: url('./carasoul/image_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.carasoulFlex2{
    height: 600px;
    display: flex;
    margin-top: 150px;
    justify-content:flex-start;
    padding-left: 50px;
}
.CarasoulFlex2-Item{
    border-color: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 55px;
    width: 600px;
    height: 250px;
    background-color: white;
    color: navy;
    font-size: 20px;
}
.bg-img-carasoul-3{
    width: 100%;
    height: 500px;
    background-image: url('./carasoul/image_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.carasoulFlex3{
    height: 600px;
    display: flex;
    margin-top: 150px;
    justify-content:flex-start;
    padding-left: 50px;
}
.CarasoulFlex3-Item{
    border-color: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 55px;
    width: 500px;
    height: 250px;
    background-color: white;
    color: navy;
    font-size: 20px;
}